/***************************
    EDITOR JS
****************************/
.editor-wrapper {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.editor-toolbar {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.editor-toolbar button {
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
}

.editor-toolbar button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

.editor-hint {
    margin-right: auto;
    font-size: 12px;
    color: #666;
}

#editorjs-content {
    padding: 2rem;
    padding-left:70px;
}

#editorjs-content  .ce-block__content,
#editorjs-content .ce-toolbar__content {
    max-width:100%;
}

#editorjs-content  .ce-toolbar {
    margin-left: -20px;
    margin-top: -2px !important;
}

#editorjs-content  .ce-toolbar__actions--opened {
    background:white;
    padding:10px;  
    border: 1px black solid;
    border-radius: 5px;
}

#editorjs-content  .ce-toolbar__plus:hover,
#editorjs-content .ce-toolbar__settings-btn:hover {
    background:rgb(227, 227, 227);
}

.ovo-spacer {
    height: 40px;
}

.ovo-embed-gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.ovo-embed-gallery-item {
    position: relative;
    background: #f8f9fa;
    border-radius: 4px;
    overflow: hidden;
    padding-top: 8px;
}

.ovo-embed-iframe-wrapper iframe {
    width: 100%;
    height: 200px;
}

.ovo-embed-remove {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: rgba(255,255,255,.7);
}

/***************************
    / EDITOR JS
****************************/