a {
	color:inherit;
	text-decoration:none;
	font-weight:bold;
}

/* HEADER */

header {
    margin:0;
}

header .header-container {
    flex-direction: row;
    display: flex;
    width:1200px;
}

header #branding {
    height: var(--header-height-front);
    flex: 1 0 auto;   /* ocupa el espacio disponible */
}

header nav {
    height: var(--header-height-front);
}

header nav ul {
    color:white;
    height: var(--header-height-front);
    margin:0;
    list-style: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo {
    height: 100%;
    position: relative;
    padding: 1rem;;
}

header .logo img {
    height:100%;
}

header nav ul a {
    color:inherit;
    text-transform: uppercase;
    padding:0 10px;
    font-size:.9rem;
    font-weight:600;
    opacity: 1;
}

header nav ul a:hover {
    opacity:.8;
}

header nav.mobile .lang-button {
    color:white;
}

header nav.mobile {
    display: flex;
}

header nav .hamburger {
    padding:10px;
    cursor: pointer;
}

header nav .hamburger svg {
    fill:white;
    width:100%;
    height:100%;
}

.mobile-menu {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:white;
    z-index:9999;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.35s ease-out;
    will-change: transform;
}

.mobile-menu.open {
    transform: translateX(0);
    transition: transform 0.35s ease-out;
    will-change: transform;
}

header nav .mobile-menu  ul {
    color: black;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding:2rem;
    height:100vh;
}

header nav .mobile-menu  ul li a {
    padding:1rem;
    display: inline-block;
    width:100vw;
}


header nav .mobile-menu  ul li a:hover {
    background-color: #f3f3f3;
    border-radius: 5px;;
}

header nav .mobile-menu  ul .close {
    align-self: end;
}

header nav .mobile-menu  ul .close-button {
    font-weight: bold;
    cursor:pointer;
    border-radius: 50%;
    display: flex;
    width:40px;
    height:40px;
    justify-content: center;
    align-items: center;
}

header nav .mobile-menu  ul .close-button:hover {
    background-color: #f3f3f3;
}

#home {
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#inscripciones {
	text-transform:uppercase;
	font-size:1.5em;
	font-weight: 300;
}

#inscripciones li {
	margin-bottom:10px;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}
/* FOOTER */

footer.ovo {
    position: relative;
    background-color: #222;
    color: black;
    padding: 2rem;
    border-top: 2px solid #c0c0c0;
}

footer .ovo-social {
    justify-content: flex-start;
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
}

footer .ovo-social img {
    max-width:30px;
    margin-right:1rem;
}

.main-image.format-banner {
	aspect-ratio: 3040 / 1020;
}

@media (max-width: 1400px) {
	footer .logos {
		margin-bottom:0;
	}
	
	footer .logo img {
		height: 65px;
	}
}

@media (max-width: 1200px) {
	footer .logo img {
		height: 60px;
	}
}

@media (max-width: 991px) {

}

@media (max-width: 767px)  {	
	footer .logos {
		justify-content:center;
	}
	
	footer .logo {
		max-height:50px;
		flex-basis: 0;
	}
	
	footer .logo img {
		height: 12vw;
	}
}

@media (max-width: 576px)  {
}

/* Móvil pequeño (hasta 480px) */
@media (max-width: 480px) {
  /* estilos aquí */
}

/* Móviles normales (481px a 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* estilos aquí */
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* estilos aquí */
}

/* Laptops (1025px a 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* estilos aquí */
}

/* Escritorios grandes (1201px en adelante) */
@media (min-width: 1201px) {
  /* estilos aquí */
}
