@font-face {
    font-family: 'Gotham';
    src: url('/core/assets/fonts/gotham/GothamMedium.wof');
    src: url('/core/assets/fonts/gotham/GothamMedium.woff2') format('woff2'),
        url('/core/assets/fonts/gotham/GothamMedium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/core/assets/fonts/gotham/Gotham-Book.woff');
    src: url('/core/assets/fonts/gotham/Gotham-Book.woff2') format('woff2'),
        url('/core/assets/fonts/gotham/Gotham-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/core/assets/fonts/gotham/GothamLight.wof');
    src: url('/core/assets/fonts/gotham/GothamLight.woff2') format('woff2'),
        url('/core/assets/fonts/gotham/GothamLight.woff') format('woff');
    font-weight: 300;
    font-style: light;
    font-display: swap;
}

* {
	max-width:100%;
}

body {
	background: #FFF;
	margin:0;
	padding:0;
	height: 100vh;
	color: var(--main-color);
	font-family: var(--main-font-family);
	font-weight:400;
	font-size:14px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    height: var(--header-height-front);
}

main {
    overflow-x: hidden;
    overflow-y: auto;
    height:100vh;
}

main.headered {
    height: calc(100vh - var(--header-height-front));
}

main.footered {
    height: calc(100vh - var(--footer-height-front));
}

main.headered.footered {
    height: calc(100vh - var(--header-height-front) - var(--footer-height-front));
}


div.wrapper {
	display:flex;
	justify-content:start;
	align-items:center;
	flex-direction:column;
	width:100%;
	z-index:2;
	max-width:1920px;
	background: #F3E3D4;
}

img {
	display: inline-block;
	max-height: 100%;
}

a {
	color:inherit;
	text-decoration:none;
	font-weight:bold;
}

#home {
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#inscripciones {
	text-transform:uppercase;
	font-size:1.5em;
	font-weight: 300;
}

#inscripciones li {
	margin-bottom:10px;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

footer {
    width: 100vw;  
	position: relative;
	text-align:center;
	background-color:#FFF;
    height: var(--footer-height-front);
}

footer .logos-container {
    width: 100vw;
    display: flex;
    justify-content: center;
	position:absolute;
	bottom:0;
}

footer .logos {
    display: flex;
    bottom: 10px;
    z-index: 2;  justify-content: space-evenly;
    max-width: 1920px;
	width:100%;
    flex-wrap: wrap;
    gap: 40px;  
	padding: 40px;
	margin-bottom:40px;
}

footer .logo {
	text-align:center;
}

footer .logo img {
    width: auto;
    height: 3vw;
	max-height:70px;
    max-width: none;
    max-height: none;
}

@media (max-width: 1400px) {
	footer .logos {
		margin-bottom:0;
	}
	
	footer .logo img {
		height: 65px;
	}
}

@media (max-width: 1200px) {
	footer .logo img {
		height: 60px;
	}
}

@media (max-width: 991px) {
	footer {
		min-height: 600px;
	}
}

@media (max-width: 767px)  {	
	footer .logos {
		justify-content:center;
	}
	
	footer .logo {
		max-height:50px;
		flex-basis: 0;
	}
	
	footer .logo img {
		height: 12vw;
	}
}

@media (max-width: 576px)  {
}

/* Móvil pequeño (hasta 480px) */
@media (max-width: 480px) {
  /* estilos aquí */
}

/* Móviles normales (481px a 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* estilos aquí */
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* estilos aquí */
}

/* Laptops (1025px a 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* estilos aquí */
}

/* Escritorios grandes (1201px en adelante) */
@media (min-width: 1201px) {
  /* estilos aquí */
}
