a {
	color:inherit;
	text-decoration:none;
	font-weight:bold;
}

#home {
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#inscripciones {
	text-transform:uppercase;
	font-size:1.5em;
	font-weight: 300;
}

#inscripciones li {
	margin-bottom:10px;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

footer {
    width: 100vw;  
	position: relative;
	text-align:center;
	background-color:#FFF;
    height: var(--footer-height-front);
}

footer .logos-container {
    width: 100vw;
    display: flex;
    justify-content: center;
	position:absolute;
	bottom:0;
}

footer .logos {
    display: flex;
    bottom: 10px;
    z-index: 2;  justify-content: space-evenly;
    max-width: 1920px;
	width:100%;
    flex-wrap: wrap;
    gap: 40px;  
	padding: 40px;
	margin-bottom:40px;
}

footer .logo {
	text-align:center;
}

footer .logo img {
    width: auto;
    height: 3vw;
	max-height:70px;
    max-width: none;
    max-height: none;
}

.main-image.format-banner {
	aspect-ratio: 3040 / 1020;
}

@media (max-width: 1400px) {
	footer .logos {
		margin-bottom:0;
	}
	
	footer .logo img {
		height: 65px;
	}
}

@media (max-width: 1200px) {
	footer .logo img {
		height: 60px;
	}
}

@media (max-width: 991px) {
	footer {
		min-height: 600px;
	}
}

@media (max-width: 767px)  {	
	footer .logos {
		justify-content:center;
	}
	
	footer .logo {
		max-height:50px;
		flex-basis: 0;
	}
	
	footer .logo img {
		height: 12vw;
	}
}

@media (max-width: 576px)  {
}

/* Móvil pequeño (hasta 480px) */
@media (max-width: 480px) {
  /* estilos aquí */
}

/* Móviles normales (481px a 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* estilos aquí */
}

/* Tablets (768px a 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* estilos aquí */
}

/* Laptops (1025px a 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* estilos aquí */
}

/* Escritorios grandes (1201px en adelante) */
@media (min-width: 1201px) {
  /* estilos aquí */
}
