html, body {
  margin: 0;
}

body.front {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    font-size:16px;
    align-items: center;
    justify-content: space-between;
}

header.front {
    margin:0;
    height: var(--header-height-front);
    display:flex;
    justify-content: center;
    width: 100%;
}

header.front .header-container {
    flex-direction: row;
    display: flex;
    width:1200px;
}

header.front #branding {
    height: var(--header-height-front);
    flex: 1 0 auto;   /* ocupa el espacio disponible */
}

header.front nav {
    height: var(--header-height-front);
}

header.front nav ul {
    color:black;
    height: var(--header-height-front);
    margin:0;
    list-style: none;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

header.front .logo {
    height: 100%;
    position: relative;
    padding: 1rem;;
}

header.front .logo img {
    height:100%;
}

header.front nav ul a {
    color:inherit;
    text-transform: uppercase;
    padding:0 10px;
    font-size:.9rem;
    font-weight:600;
    opacity: 1;
}

header.front nav ul a:hover {
    opacity:.8;
}

header.front nav.mobile .lang-button {
    color:black;
}

.navbar-nav {
    align-items: center;
}

.language-selector .lang-options {
    background-color:white;
}

body.front main {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;   /* ocupa el espacio disponible */
}

main.headered.footered {
    height:auto;
}

.page {
    width: 1200px;
}

#page-content {
    margin-top:4rem;
    padding-bottom:2rem;
}

.page .main-image img {
    border-radius: 10px;
}

footer.ovo {
    position: relative;
    background-color: #f3f3f3;
    color: black;
    padding: 2rem;
    border-top: 2px solid #e3e3e3;
    width: 100%;
    height:auto;
}

footer .ovo-social {
    justify-content: flex-start;
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
}

footer .ovo-social img {
    max-width:30px;
    margin-right:1rem;
}

footer .footer-column {
    display:flex;
    gap:1rem;
}

header.front nav.mobile {
    display: flex;
}

header.front nav .hamburger {
    padding:10px;
    cursor: pointer;
}

header.front nav .hamburger svg {
    fill:black;
    width:100%;
    height:100%;
}

.mobile-menu {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:white;
    z-index:9999;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.35s ease-out;
    will-change: transform;
}

.mobile-menu.open {
    transform: translateX(0);
    transition: transform 0.35s ease-out;
    will-change: transform;
}


header.front nav .mobile-menu  ul {
    color: black;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding:2rem;
    height:100vh;
}


header.front nav .mobile-menu  ul li a {
    padding:1rem;
    display: inline-block;
    width:100vw;
}


header.front nav .mobile-menu  ul li a:hover {
    background-color: #f3f3f3;
    border-radius: 5px;;
}

header.front nav .mobile-menu  ul .close {
    align-self: end;
}

header.front nav .mobile-menu  ul .close-button {
    font-weight: bold;
    cursor:pointer;
    border-radius: 50%;
    display: flex;
    width:40px;
    height:40px;
    justify-content: center;
    align-items: center;
}

header.front nav .mobile-menu  ul .close-button:hover {
    background-color: #f3f3f3;
}

@media screen and (max-width: 1440px)  {
    footer .ovo-social {
        justify-content: start;
        align-items: start;
    }

    header.front {
        padding:0 2rem;
    }
}

@media screen and (max-width: 960px) {
    footer.ovo {
        justify-content: start;
        flex-direction: column;
    }

    footer .footer-column {
        flex-direction: column;
    }

    #page-content {
        margin-top: 2rem;
    }
}